{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "jsx-a11y",
    "prettier",
    "react",
    "sort",
    "eslint-plugin-sort-annotation",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/member-ordering": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "quotes": "off",
    "react/jsx-sort-props": "warn",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "off",
    "react/sort-comp": "warn",
    "sort/destructuring-properties": "warn",
    "sort/exports": "warn",
    "sort/export-members": "warn",
    "sort/import-members": "warn",
    "sort/object-properties": "warn",
    "sort/type-properties": "warn",
    "sort/string-enums": "warn",
    "sort/string-unions": "warn",
    "sort-annotation/sort": "warn",
    "sort-annotation/sort-keys": "warn",
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "sort-keys": [
      "warn",
      "asc",
      { "caseSensitive": true, "natural": true, "minKeys": 2 }
    ],
    "sort-keys-fix/sort-keys-fix": "warn",
    "sort-vars": "warn"
  }
}
